.block{
    border-top: 1px solid rgb(127, 140, 163);
    border-bottom: 1px solid rgb(127, 140, 163);
    border-left: 1px solid rgb(127, 140, 163);
    text-align: center;
    border-right: 1px solid rgb(127, 140, 163);
}
